In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [3]:
# Create a Pandas Serices from list
school_series = pd.Series(high_schools)

In [4]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [5]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [6]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [16]:
# Three sepeate lists fo information on high schools
school_id = [0, 1, 2, 3, 4]

school_name =["Huang High School", "Figueroa High School", 
"Shelton High School", "Griffin High School"]

type_of_school = ["District", "district", "Charter", "District","Charter"]

In [17]:
# Initilize a new DataFrame.
schools_df = pd.DataFrame(high_school_dicts)

In [12]:
# Add the list to new DataFrame.

schools_df["School ID"]= school_id
schools_df["School Name"]= school_name
schools_df["School Type"]= type_of_school

ValueError: Length of values (4) does not match length of index (5)

In [15]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Griffin High School'],
 'type': ['District', 'district', 'Charter', 'District', 'Charter']}

In [ ]:
#print the DataFram.
schools_df

In [ ]:
school_df.columns

In [ ]:
school_df.index

In [ ]:
school_df.values

In [ ]:
school_id={0, 1, 2, 3, 4, 5, 6, 7, 8, 9,10, 11, 12, 13, 14}